<div>
  <dl>
    <dt>Title</dt>
    <dd>{{jobTitle}}</dd>
    <dt>Company</dt>
    <dd>{{companyName}}</dd>
    <dt>Job Type (FT/PT)</dt>
    <dd>{{jobType}}</dd>
    <dt>Location</dt>
    <dd>{{location}}</dd>
    <dt>Date posted</dt>
    <dd>{{postedDate}}</dd>
    <dt>Industries</dt>
    <dd>{{industries}}</dd>
    <dt>Pay</dt>
    <dd>{{pay}}</dd>
  </dl>
</div>